#TopNav {
  width: 100% !important; 
  background-image:  url(../img/ruler2.png);
    background-repeat: no-repeat;
  background-position: bottom;
  background-color:#fff !important;
  padding: 30px 0 30px 0 !important;
  font-family: "Fabrikat-Regular" !important;
  border-bottom: 7px solid #006400 !important;
  text-transform: uppercase;
}

#TopNav1 {
  width: 100% !important;
  background-color: transparent !important;
  padding: 30px 0 30px 0 !important;
  font-family: "Fabrikat-Regular" !important;
  text-transform: uppercase;


}
#BottomNav {
  width: 100% !important;
    background-image:  url(../img/cmyk2.png);
background-repeat: no-repeat;
  background-position: top;
  background-color: transparent !important;
  font-family: "Fabrikat-Regular" !important;
  border-top: 10px solid #006400 !important;
  text-transform: uppercase;
}
/*
.nav-item1:hover,
.nav-item2:hover,
.nav-item3:hover,
.nav-item4:hover,
.nav-item5:hover {
  margin-top: 0 !important;
  padding-top: 0 !important;
  border-left: 5px solid gray !important;
  transition: all 400ms ease-out !important;
}
*/
/* Hover DropDown */
.nav-item1:hover #dropdown-menu-1,
.nav-item2:hover #dropdown-menu-2,
.nav-item3:hover #dropdown-menu-3,
.nav-item4:hover #dropdown-menu-4,
.nav-item5:hover #dropdown-menu-5 {
  display: inline !important;
}
.col-md-3 {
  margin: 0 !important;
  padding: 0 !important;
}
.col-md-3:hover {
  opacity: 0.7 !important;
}
#form-style {
  border-left: 5px solid #666666 !important;
}
.header-image {
  background-color: gray !important;
  width: 1280px !important;
  height: 400px !important;
}
.rounded2{
    border: 2px solid white;
}

/*
.nav-item active:after{
    border-bottom: 2px solid red;
}
*/

.nav-item .active li {
    background-image: url(../img/cmyk.png);
    background-repeat: no-repeat;
    background-position: bottom;
  background-size: 100%;
}

ul > li.nav-item.active{
    background-image: url(../img/cmyk2.png);
    background-repeat: no-repeat;
    background-position: bottom;
  background-size: 100%;
   
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}
#modal1 > div > div > div.modal-body > div:nth-child(2) > div.col-md-12.text-center > a{
    width:50%;
    margin:auto;
}
#modal1 > div > div > div.modal-body > div:nth-child(2) > div.col-md-12.text-center > a:hover {
    color: #fff;
    background-color: #006400 !important;
}

body > div > div > div > div:nth-child(1) > img{
    width: 100%;
}
#modal2 > div > div > div.modal-body > div:nth-child(2) > div.col-md-12.text-center > button{
    width:50%;
    margin:auto;
}

#modal2 > div > div > div.modal-body > div:nth-child(2) > div.col-md-12.text-center > button:hover{
     color: #fff;
    background-color: #006400 !important;
}